@import '../../assets/styles/general.scss';


.app-footer {
  border-top: 2px solid $color4;
  background-color: $background-color;
  color: $title-text-color;
  position: relative;
  bottom: 0;
  min-height: 50px;
  padding: 24px;
  width: 100vw;
  display: flex;
  justify-content: center;
}