@import 'src/assets/fonts/asb_font/a_stamper_bold.scss';

// -------------------- fonts -------------------- 

$primary-font: 'a_Stamper Bold';

// -------------------- colors -------------------- 
$primary-text-color: rgb(255, 255, 255);
$secondary-text-color: rgb(0, 0, 0);
$title-text-color: rgb(239, 137, 2);
$active-link-color: rgb(51, 153, 249);
$error-text-color: rgb(255, 99, 99);
$succes-text-color: rgb(177 243 151);
$hover-link-color: rgba(51, 153, 249, 2);
$hover-table-row-color: #fff6;
$subtitle-text-color: rgb(207,217,222);
$background-color: rgb(42,49,55);
$background-page-color: rgb(76,75,83);
$button-border-color: rgb(51, 153, 249);

// -------------------- size -------------------- 

// $header-height: 50px;
