@import 'src/assets/fonts/asb_font/a_stamper_bold.scss';

// -------------------- fonts -------------------- 

$primary-font: 'a_Stamper Bold';

// -------------------- colors -------------------- 
$dark-blue: #222629;
$grey: #6B6E70;
$white: #FFFFFF;
$red: #D62828;
$green: #86C232;
$logo-color: #FFA500;

$color1: #61892f;
$color2: #86c232;
$color3: #222629;
$color4: #474b4f;
$color5: #6b6e70;
$color6: #adb2b5;
$color7: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);

$background-color: $dark-blue;
$background-page-color: $dark-blue;

$primary-text-color: $white;
$secondary-text-color: rgb(0, 0, 0);
$title-text-color: rgb(239, 137, 2);
$subtitle-text-color: $green;
$error-text-color: #D62828;
$succes-text-color: #3EBD93;

$hover-link-color: none;
$active-link-color: $green;

$button-border-color: $color1;



// -------------------- size -------------------- 

// $header-height: 50px;